* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 220, 220, 0.27);
    z-index: 0;
    padding-top: 30px;
    overflow-y: auto;
}

.sem-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    margin: 0;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.slidebar-logo {
    display: block;
    margin: auto;
    /* Center align horizontally */
    width: 70px;
    height: auto;
}

#sidebar {
    position: absolute;
    width: 250px;
    height: 105%;
    background: #2d2d2d;
    left: -320px;
    transition: 0.4s;
    z-index: 1000;
    padding-top: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.068);
}

#sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../media/noise.gif");
    opacity: 0.04;
    pointer-events: none;
    /* Ensure it does not interfere with interactions */
    z-index: 1000;
    /* Ensure it is above the sidebar but below other elements */
}

#sidebar ul {
    list-style: none;
    padding: 30px 50px;
}

#sidebar ul li {
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
}

#sidebar ul li a {
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}

#sidebar ul li a:hover {
    color: aqua;
    box-shadow: 8px 7px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 15px;
}

#sidebar ul li a:active {
    color: rgb(215, 34, 255);
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1100;
}

.toggle-btn span {
    width: 30px;
    height: 3px;
    background: #000;
    display: block;
    margin: 5px 0;
}

#dark_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    /* Initially hidden */
}

#sidebar.active {
    left: 0;
}

#sidebar.active+#dark_overlay {
    display: block;
    /* Show the dark_overlay when the sidebar is active */
}

#sidebar.active+#dark_overlay+.toggle-btn {
    display: none;
    /* Hide the toggle button when the sidebar is active */
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

th,
td {
    border: solid rgba(255, 255, 255, 0.867) 1px;
    text-align: center;
    height: 30px;
    width: 150px;
}

tfoot {
    font-weight: bold;
}

.calculateButton {
    margin-bottom: 20px;
    text-align: center;
}

.calculateButton button {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 10px 12px;
    font-size: 16px;
    background-color: #52bb56;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.calculateButton button:hover {
    background-color: #45a049;
}

.main-container caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
    font-size: 0.75rem;
    color: #e4380e;
}

#semester-table tbody td[contenteditable="true"]:hover {
    cursor: pointer;
}

.credentials {
    position: relative;
    top: 50px;
    font-size: 0.8rem;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
}

.credentials hr {
    width: 100vw;
}

.branch-selector-div {
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#branch-selector {
    padding: 0.2rem;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 0px 0px rgb(4, 63, 105);
}

#branch-selector:hover {
    cursor: pointer;
}

.select-branch {
    background-color: white;
}

/* @media (min-width: 768px) { */
    table {
        box-shadow: 4px 3.5px 10px rgba(170, 177, 217, 0.743);
        border-radius: 20px;
    }

    #semester-table thead tr:first-child th:first-child {
        border-top-left-radius: 15px;
    }

    #semester-table thead tr:first-child th:last-child {
        border-top-right-radius: 15px;
    }

    #semester-table tfoot tr:last-child th:first-child {
        border-bottom-left-radius: 15px;
    }

    #semester-table tfoot tr:last-child td:last-child {
        border-bottom-right-radius: 15px;
    }
/* } */

tbody tr:nth-child(even),thead,tfoot tr:nth-child(2) {
    background-color: rgba(239, 239, 239, 0.22); /*alternate coloring*/
}
.credentials a{
text-decoration:none ;
}
@media (max-width: 768px) {
    .sem-header {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
        width: 50px;
    }

    .semester-heading {
        font-size: 1.2rem;
    }

    #sidebar {
        width: 190px;
        left: -250px;
        height: 115%;
    }

    #sidebar ul {
        padding: 50px 30px;
    }

    #sidebar ul li {
        font-size: 17px;
    }

    .toggle-btn {
        top: 15px;
        left: 15px;
    }

    .toggle-btn span {
        width: 25px;
        height: 2px;
    }

    table {
        width: 100%;
    }

    th,
    td {
        height: 20px;
        width: 60px;
        font-size: 14px;
        padding: 5px;
    }

    .calculateButton button {
        padding: 8px 10px;
        font-size: 14px;
    }

    .main-container caption {
        font-size: 0.65rem;
    }

    .credentials {
        font-size: 0.6rem;
    }

    .branch-selector-div {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    #branch-selector {
        padding: 0.15rem;
    }

    #branch-selector:hover {
        cursor: pointer;
    }

    .credentials {
        top: 100px;
        font-size: 0.74rem;
    }
}